$pending: rgba(242, 153, 74, 0.2);
$cancelled: rgba(235, 87, 87, 0.2);
$completed: rgba(39, 174, 96, 0.2);
$in-progress: rgba(86, 204, 242, 0.2);

$minor: rgba(33, 150, 83, 1);
$normal: rgba(242, 201, 76, 1);
$critical: rgba(235, 87, 87, 1);
    
$white: rgba(255, 255, 255, 1);
$light-white: rgba(242, 242, 242, 1);
$light-gray: rgba(220, 217, 217, 1);
$gray: rgba(85, 85, 85, 1);
$gray-blue: rgba(87, 135, 164, 1);
$moderate-gray: rgba(125, 133, 154, 1);
$dark-gray: rgba(85, 85, 85, 1);

$purple: rgba(136, 76, 178, 1);
$dark-purple: rgba(136, 76, 178, 0.2);
$light-purple: rgba(136, 76, 178, 0.7);

$red: rgba(247, 104, 91, 1);
$dark-red: rgba(243, 71, 122, 0.2);
$light-red: rgba(243, 71, 122, 0.7);

$pink: rgba(253, 100, 142, 1);
$light-pink: #EDC1D3;

$blue: rgba(58, 145, 193, 0.7);
$light-blue:rgba(218, 228, 244, 1);
$modern-blue: #91BDEC;

$aquamarine: rgba(64, 198, 213, 0.7);

$green: rgba(33, 150, 83, 1);
