@font-face {
    font-family: 'SF UI Text';
    src: url('font/SFUIText.ttf');
}

$small: 11px;


$SFUI: 'SF UI Text';

* {
    font-family: 'SF UI Text';
    font-size: $small;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    margin: 0;
    padding-right: 20px;
}
.mark {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;

    color: $pink;
}
