body {
    display: flex;
    justify-content: center;
}

.desktop {
    display: flex;
    flex-direction: column;
    width: 1088px;
}

.desktop-top {
    display: flex;
    flex-direction: row;
}

/* Боковое меню */


.menu {
    display: flex;
    flex-direction: column;
}

.icon-logo {
    width: 120px;
    height: 120px;
    margin: 0 10px;
    cursor: pointer;
}

.menu-container {
    display: flex;
    flex-direction: column;
}

.menu-item { 
    display: flex;  
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    color : rgba(52, 172, 167, 1);
    padding: 5px 3px;
    margin-bottom: 26px;
}

.menu-item:active {
    color: rgb(34, 109, 105);
}

.menu-item:hover {
    background-color: rgba(90, 90, 90, 0.1);
}

.icon {
    display: flex;
    width: 30px;
    height: 30px;
}

.food {
    background-image: url(content/icon/food-icon.svg);
}

.blog {
    background-image: url(content/icon/blog-icon.svg);
}

.alist {
    background-image: url(content/icon/a-list-icon.svg);
}

.camera {
    background-image: url(content/icon/camera-icon.svg);
}

.about {
    background-image: url(content/icon/about-icon.svg);
}

.text-menu-item {
    display: flex;
    height: 14px;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0 0 0 12px;
    font-style: italic;
}

.menu-tweet {
    display: flex;
    flex-direction: column;
    height: 61px;
}

.menu-tweet-text {
    display: flex;
    padding: 5px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border-bottom: 1px dashed rgba(229, 229, 229, 1);
    width: 140px;
}

.menu-tweet-button {
    display: flex;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(229, 229, 229);
    color: rgba(52, 172, 167, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 10px;
    margin-top: 9px;
    align-items: center;
    cursor: pointer;
    background-color: #ffffff;
    padding: 6px 7px;
}

.menu-tweet-button:hover {
    background-color: rgba(90, 90, 90, 0.1);
}

.menu-tweet-button:active {
    color: rgb(34, 109, 105);
}

.menu-tweet-other-text {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: italic;
    line-height: 19px;
}

.menu-twitter-icon {
    display: flex;
    margin-right: 6px;
    background-image: url(content/icon/twitter-icon.svg);
    height: 16px;
    width: 16px;
}

/* Контент страницы */

.main {
    display: flex;
    flex-direction: column;
    width: 896px;
    margin: 0 44px;
}

.baner {
    display: flex;
    flex-direction: column;
    background-image: url(content/baner.svg);
    overflow: hidden;
}

.baner-header {
    background: rgb(255, 255, 255);
    display: flex;
    width: 272px;
    min-height: 49px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: italic;
    margin-top: 32%;
    align-items: center;
    padding-left: 26px;
}

.baner-description {
    display: flex;
    width: 487px;
    min-height: 42px;
    align-items: center;
    padding-left: 26px;
    background: rgba(0, 0, 0, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 14px;
    color: rgb(255, 255, 255);
    margin-bottom: 5%;
}

.tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tabs-item {
    width: 224px;
    display: flex;
    flex-direction: column;
    background-color: rgba(239, 248, 247, 1);
    color: rgba(52, 172, 167, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 26px 0 22px 20px;
    cursor: pointer;
}

.tabs-item:hover {
    background-color: rgba(217, 239, 236, 1);
}

.tabs-item:active {
    color: rgb(28, 97, 93);
}

.tabs-text {
    color: rgba(52, 172, 167, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 10px;
}

.subscription-box {
    display: flex;
    border-top: 1px dashed rgba(229, 229, 229, 1);
    border-bottom: 1px dashed rgba(229, 229, 229, 1);
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
}

input {
    height: 22px;
    border: 1px solid rgba(229, 229, 229, 1);
}

input::placeholder {
    color: rgba(229, 229, 229, 1);
}

.subscribe-button {
    margin-left: 18px;
    background: linear-gradient(rgba(244, 243, 243, 1), rgba(187, 185, 185, 1));
    border: 1px solid rgba(229, 229, 229, 1);
    box-sizing: border-box;
    border-radius: 2px;
    width: 80px;
    height: 23px;
    font-size: 10px;
    line-height: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.subscription-icon {
    min-width: 32px;
    min-height: 26px;
    padding-right: 16px;
    background-repeat: no-repeat;
}

.email {
    background-image: url(content/icon/mail-icon.svg);
}

.subscription-text {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 14px;
    margin-left: 16px;
    width: 530px;
    padding: 10px 0;
    flex-direction: row;
}

.card-list {
    display: flex;
    flex-direction: row;
    max-width: 896px;
    margin-top: 29px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 207px;
}

.card-image-wrapper {
    max-width: 100%;
    max-height: 143px;
    border: 11px solid rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    overflow: hidden;
}

.card-block-background > img {
    width: 100%;
}

.card-header {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(52, 172, 167, 1);
    margin-top: 11px;
    line-height: 21px;
    cursor: pointer;
    letter-spacing: -0.02em;
}

.card-header:hover {
    color: rgb(38, 126, 121);
}

.card-header:active {
    color: rgb(0, 88, 104);
}


.card-text {
    margin-top: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.card-footer {
    display: flex;
    flex-direction: row;
    margin-top: 11px;
}

.card-date {
    width: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: rgba(229, 229, 229, 1);
    cursor: pointer;
    letter-spacing: -0.02em;
}

.card-date:active {
    color: rgb(134, 134, 134);
}

.card-read-more {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0/02em;
    color: rgba(52, 172, 167, 1);
    cursor: pointer;
}

.card-read-more:hover {
    color: rgb(38, 126, 121);
}

.card-read-more:active {
    color: rgb(0, 88, 104);
}

/* Футер */

.footer {
    display: flex;
    border-top: 2px solid rgba(229, 229, 229, 1);
    margin-top: 44px;
    justify-content: space-between;
}

.footer-info {
    display: flex;
    flex-direction: column;
}

.footer-info-other {
    display: flex;
    flex-direction: row;
    color: rgba(229, 229, 229, 1);
    align-items: center;
    margin: 26px 0 0 3px;
}

.footer-info-other-text {
    color: #34ACA7;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 12px;
    letter-spacing: -0.02em;
    cursor: pointer;
    border-right: 1px solid rgba(229, 229, 229, 1);
    padding: 0 5px;
}


/*
.footer-info-other-text + .footer-info-other-text::before {
    content: '|';
    color: rgba(229, 229, 229, 1);
    margin: 0 5px;
    pointer-events: none;
}
*/

.footer-info-other-text:hover {
    color: rgb(38, 126, 121);
}

.footer-info-other-text:active {
    color: rgb(0, 88, 104);
}

.footer-copyright {
    color: rgba(229, 229, 229, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: -0.02em;
    line-height: 12px;
    padding-left: 8px;
}

.footer-icon-box {
    display: flex;
    margin-top: 23px;
}

.footer-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.twitter {
    background-image: url(content/icon/twitter-icon\ 1.svg);
}

.fb {
    background-image: url(content/icon/fb-icon.svg);
}

.rss {
    background-image: url(content/icon/rss-icon.svg);
}
.footer-icon:not(:last-child) {
    margin-right: 4px;
}