$main: rgba(52, 172, 167, 1);
$main_active: rgb(34, 109, 105);
$main_hover: rgba(90, 90, 90, 0.1);


$tabs: rgba(239, 248, 247, 1);
$tabs_hover: rgba(217, 239, 236, 1);
$tabs_active: rgb(28, 97, 93);

$card_header_active: rgb(0, 88, 104);

$card_date_active: rgb(134, 134, 134);

$shadow: rgba(0, 0, 0, 0.25);

$light: rgba(229, 229, 229, 1);
$light-gray: rgba(244, 243, 243, 1);
$gray: rgba(187, 185, 185, 1);
$white: rgb(255, 255, 255);
$black: rgba(0, 0, 0, 1);
