$logo: url(/img/icon/logo.svg); 

$food: url(/img/icon/food.svg);
$blog: url(/img/icon/blog.svg);
$alist: url(/img/icon/a-list.svg);
$camera: url(/img/icon/camera.svg);
$about: url(/img/icon/about.svg);
$menu-twitter: url(/img/icon/twitter.svg);
$email: url(/img/icon/mail.svg);
$twitter: url(/img/icon/twitter1.svg);
$fb: url(/img/icon/fb.svg);
$rss: url(/img/icon/rss.svg);

$banner: url(/img/banner.svg);

$wrapper_best: url(/img/Best-Summer.svg);
$wrapper_how: url(/img/How-to-Make.svg);
$wrapper_join: url(/img/Join-us-on-Pinterest.svg);
$wrapper_recipes: url(/img/Recipes-from.svg);