.menu {
    display: flex;
    flex-direction: column;

    .item{
        display: flex;
        flex-direction: row;
        align-items: center;
        
        padding: 5px 3px;
        margin-bottom: 26px;

        @include link;

        &:hover {
            background-color: $main_hover;
        }

        .icon {
            display: flex;

            width: 30px;
            height: 30px;

            &.food {
                background-image: $food;
            }

            &.blog {
                background-image: $blog;
            }

            &.alist {
                background-image: $alist;
            }

            &.camera {
                background-image: $camera;
            }

            &.about {
                background-image: $about;
            }
        }

        .text {
            display: flex;
            white-space: nowrap;

            height: 14px;

            font-style: italic;
            font-size: $size_medium;

            margin: 0 0 0 12px;
        }
    }
}


